*{
    margin: 0%;
    padding: 0%;
    background-color: lightgoldenrodyellow;
 }
.titulo{
    text-align: center;
    font-size: 2rem;
    margin: 20px 10px;
    background-color:darkgoldenrod;
    }
.texto{
    text-align: center;
    margin: 0%;
    padding: 0%; 
    display: flex;
    justify-content: space-around;
    color: black;
}

.resumo{
    display: flex;
    justify-content: space-around; /* Distribui os itens igualmente */
    gap: 20px; /* Espaçamento entre os parágrafos */
    padding: 20px;
}
.colunas{
    flex: 1;
    background-color:darkgoldenrod;
    padding: 5px;
    border-radius: 8px;
}

@media screen and (max-width: 800px) {
   .texto {
        display: block;
    }
}